<!DOCTYPE html>
<html>
<head>
  <title>4Winds Template</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= yield :page_head %>
</head>

<body>
<%= yield %>
<%= yield :page_body %>
</body>
</html>
